@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: black;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: aliceblue;
    border-radius: 10px;
}